@model On3SpiderMVC.ViewModels.Home.ResultsViewModel

@{
    ViewBag.Title = "Results";
}

@section css {

}

@section scripts {
    <script type="text/javascript">
        function queryParams() {
            return {
                type: 'owner',
                sort: 'updated',
                direction: 'desc',
                per_page: 100,
                page: 1
            };
        }
    </script>
}

<div class="row">
    <div class="col-sm-12">
        @if (Model.ResultsList == null || !Model.ResultsList.Any())
        {
            <h1>@Model.Error</h1>
        }
        else
        {
            <h1>URLs crawled: @Model.ResultsList.Count</h1>

            <h3>Results</h3>

            foreach (var result in Model.ResultsList)
            {
                <div style="margin-top: 15px; font-size: 16px;">
                    <a href="@result.Url" target="_blank">@result.School</a>
                </div>


                if (result.Results?.Players != null && result.Results.Players.Any())
                {
                    <div style="font-size: 16px;">@result.Results.Players.Count() Players found.</div>
                    <table data-toggle="table"
                           data-query-params="queryParams"
                           data-pagination="true"
                           data-search="true"
                           data-height="300">
                        <thead>
                        <tr>
                            <th data-field="name">Name</th>
                            <th data-field="height">Height</th>
                            <th data-field="weight">Weight</th>
                            <th data-field="position">Position</th>
                            <th data-field="class">Class</th>
                            <th data-field="major">Major</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var player in result.Results.Players.Where(player => player != null))
                        {
                            <tr>
                                <td>@player.FirstLast</td>
                                <td>@player.Height</td>
                                <td>@player.Weight</td>
                                <td>@player.Position</td>
                                <td>@player.Class</td>
                                <td>@player.Major</td>
                            </tr>
                        }
                        </tbody>
                    </table>

                }
                else
                {
                    <div style="color: red">NO PLAYERS FOUND</div>
                }
            }
        }

    </div>
</div>